
<script src="//code.jquery.com/jquery-latest.min.js"></script>
<script src="//unslider.com/unslider.min.js"></script>


<div class="banner">
	<ul>
		<li class="slider"><%= image_tag "slide1.png" %></li>
		<li class="slider"><%= image_tag "slide2.png" %></li>
		<li class="slider"><%= image_tag "slide3.png" %></li>
	</ul>
</div>