
<script src="//code.jquery.com/jquery-latest.min.js"></script>

<div class="container col-md-12">
	<div class="banner"></div>
</div>
<div class="container">
	<div class="row">
		<div class="projectImage col-md-4">
			<%= image_tag "slide2.png" %>
		</div>
		<div class="projectImage col-md-4">
			<%= image_tag "slide3.png" %>
		</div>
		<div class="projectImage col-md-4">
			<%= image_tag "Threadly.png" %>
		</div>
	</div>
</div>